
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');
.App {
  font-family: 'Rubik';
  text-align: center;
  color:#fff;
  height:48vh;
  background-image: url('./components/Assets/images/pattern-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition:all 0.8s ease;
}
.heading{
  font-size: 1.2rem;
  padding:1rem;
  font-weight: 400;

  }


  @media (min-width:500px) and (max-width: 800px) {
    .heading {
      font-size: 1.3rem;
      padding: 1rem;
      font-weight: 400;
    }

    .App {
      height: 30vh;
      width: 100vw;

    }
  }

  @media(min-width:250px) and (max-width:500px) {

       }