.map_container {
    position: relative;
    top: -7rem;
    z-index: -1;
    height: 100vh;
    overflow-y:hidden;
}

.map_pointer {
    width: 1rem;
    height: 1rem;
    position:fixed;
}
.top {
    display: none;
    padding: 0.2rem;


    border-radius: 5px;
    z-index: 2;
    background: #fff;
    font-weight: 600;
}

.top a {
    text-decoration: none;
    color: #333;
}

@media only screen and (min-width: 500px) and (max-width:800px) {

    .map_container {
        top: -14rem;
    }

    .map_pointer {
        width: 1.5rem;
        height: 1.5rem;
        position:fixed;
    }

}

@media only screen and (min-width: 300px) and (max-width:500px) {
    .map_container {
        top: -20rem;
        bottom: 0;
        width: 100vw;
        height: 100vh;

    }

    .map_pointer {
        width: 1rem;
        height: 1rem;
        position:fixed;
    }
    .top {
        display: block;
        margin: 0 auto;
        transition: all 0.5s ease;
        scroll-behavior: smooth;
    }

}
